In [60]:
import pandas as pd
import numpy as np
import Global_Functions as gf

In [63]:
OPEN_FOLDER = '../Images/Loss_function/Unscaled/2021-05-14_11-32_training_20 val_21 128_neurons__50_epochs__lag_60'
results = gf.open_CSV_file('results.csv', OPEN_FOLDER)

In [68]:
df = pd.DataFrame(index = np.unique(results['tgds']), columns = np.unique(results['diff']))

for t in np.unique(results['tgds']):
    for d in np.unique(results['diff']):
        dummy = results[results['tgds'] == t]
        row = dummy[dummy['diff'] == d]
        for i in row['rmse']:
            vals = i[1:-1].split(', ')
            #the following two lines are for misprocessed data
#             vals = i[1:-1].split('\n')
#             vals = [x.split("  ") for x in vals]
#             vals = [x[-1] for x in vals[:-1]]
            vals = np.array(vals, dtype = float)
            df.at[t,d] = np.mean(vals)

In [69]:
df.loc['mean'] = df.mean(axis = 0)

In [70]:
df['mean'] = df.mean(axis = 1)

In [71]:
df

          0.01      0.1      1.0     10.0    100.0         mean
0.01   1674.14  1910.18  2170.72  1781.39   2691.5  2045.586627
0.1    1859.09  1735.11  1777.56  1810.92  2269.97  1890.531972
1.0    2091.01  1993.27  1259.59  1840.59  1971.64  1831.218762
10.0   1879.34  2367.69  1790.05  2173.25  1629.05  1967.872281
100.0  2227.56  2256.66     2064  1786.31  1951.01  2057.107036
mean   1946.23  2052.58  1812.38  1878.49  2102.63  1958.463336